DATABASE_TYPE = "postgres"
DATABASE_URL = postgresql://postgres:postgres@172.28.5.3:5432/postgres?sslmode=disable
DATABASE_SCHEMA = medusa
REDIS_URL = redis://:redis@172.28.5.2:6379
ENVIRONMENT = development
